body {
  font-family: "Helvetica";
  background-color: #fff;
}
p {
  font-size: 1rem;
  margin: 0.75em 0;
  line-height: 1.6em;
}
@media only screen and (max-width: 500px) {
  p {
    color: #2ecc40;
  }
}
