// @import "includes/variables";

// @import 'nib'
// @import 'axis'
// @import 'jeet'

body {
  font-family: "Helvetica";
  background-color: white;  
}

p
  paragraph()
  col(1)
  +below(500px)
    color: green