// @import "includes/variables";

// @import 'nib'
// @import 'axis'
@import 'jeet'

normalize-css()

// edit()

body 
  // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  // font-weight: 300;
  background-color: white; 
  text-rendering: optimizelegibility; 


p
  // paragraph()
  
  
#container
  center(1200px)
  padding-top 3em
  
#headerHolder
  col(.55, offset: .05)
  // stack()
  padding-bottom 2em
  
  +below(3)
    col(.9, offset: .05)
    // stack()  

.sectionHeader
  font-family: 'Droid Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
  // font-weight 700 
  font-size 3em 
  text-rendering: optimizelegibility;

.clearfix
  cf()

#content
  col(.55, offset: .05)
  +below(3)
    col(.9, offset: .05)
    // stack()
  
  font-family: freight-text-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  p
    font-size 22px
    line-height 1.5em 
    margin-top 0
    padding-top 0  
    
  em
    font-style normal
    background-color rgba(255, 253, 47, .5)  
  
  
#comments
  col(.35)
  +below(3)
    col(.5, offset: .05)
    // stack()
  +below(2)
    col(.9, offset: .05)
    
  padding-bottom 2em 
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  
  h1
    font-size 1.5em 
  
  h2
    font-size 1.1em 
    margin-bottom 0
    padding-bottom 0
  span
    margin-top 0
    padding-top 0
  p
    margin-top 0
    padding-top 0   
    font-size 0.9em
    
.notesHeader
  font-size .8em
  font-weight: 300;
  upcase()
    
.hairline
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  // border: 0;
  // height: 1px;
  // color: rgba(0, 0, 0, .3)
  // background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .2));
    
.commentAuthor
  font-size 1em
  font-weight: 700;
  line-height 1.5em 
  // padding-bottom 1em 
  // p
  //   line-height 2em  
  

.deletebutton
  float right
  color #b31d44 
  font-size 0.6em
  
  a
    transition: all .125s ease
    border-radius: 3px;
    
    &:link 
      // color: ranHair
      color: #b31d44 
      background-color rgba(179, 29, 68, .1)  
      text-decoration none
      padding: 0.4em
      // border-bottom: 1px dashed gray;
      // border-bottom: 1px dashed gray;
        
      // background-image: linear-gradient(to right, white 50%, rgba(255,255,255,0) 0%);
      // background-position: bottom left;
      // background-size: 4px 1px;
      // background-repeat: repeat-x;
      
    &:hover 
      font-size 1.5em 
      color: #fff !important
      background-color #b05a71 
      padding: 0.4em
      // background-image: linear-gradient(to right, silver 50%, rgba(255,255,255,0) 0%);
      // border-bottom: 1px dashed ranHair;
    &:visited 
      color: #b31d44 
    &:active 
      color: #b31d44 
      
.formHeader
  color rgba(0, 0, 0, 0.4); 
  
input.textInput
  input(#361bd9, 90%)
  margin-top 10px 

input.submitButton
  button(#361bd9)
  margin-top 10px
  // float right
  width 50%
    
#hiddenText
  position absolute 
  left -9999px
  
  
/*Tooltip div styling */
.tooltipDiv 
  display: none;
  // width: 4em;
  color #FFF 
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size .9em 
  
  input
    button(gray)
    color white
    margin-right 1px 

  z-index: 101;
  background-color: #323232;
  // border: 2px solid #666;
  // box-shadow: 0px 2px 0px rgba(50, 50, 50, .5);
  padding: 12px 12px 12px 12px;
  border-radius: 10px 10px 10px 10px;


// div.focus-box 
//   float:left;
//   display:block;
//   // width:250px;
//   width 100% 
//   border:solid 1px
//   border-color #AAA;
//   // padding  
//   // margin-right:15px;
//   margin-top:10px;
//   z-index 1
//   transition all ease 250ms

//   div 
//     float:left;
//     width:100%;
//     text-align:inherit;

//     input 
//       z-index 0
//       -ms-box-sizing:content-box;
//       -moz-box-sizing:content-box;
//       -webkit-box-sizing:content-box; 
//       box-sizing:content-box;
      
//       float:left;
//       width:95%;
//       -webkit-appearance:none;
//       text-align:inherit;
//       // padding:@spacing;
//       // padding 1em
//       padding-top 0.5em 
//       padding-bottom 0.5em
//       padding-left 0.5em 
//       // padding-right -0.5em 
//       // margin 1em 
//       // margin-right 1em
//       // padding-right -1em  
//       border:none;
//       font-size:0.875em;
//       // background:white;
//       background:transparent;
//       outline:none;
//       // .border-box;
//       border-box
//       // border-radius 3em
//       // .border-radius;
//       transition background ease 250ms
    

//     div.focus 
//       float:left;
//       width:100%;
//       margin-top:-1px;
//       position:relative;
//       height:1px;
//       background:transparent; 
//       border-color:transparent;

//       div 
//         position:absolute;
//         z-index:2;
//         width:100%;
//         transform scale(0, 1)
//         height:2px;
//         margin-top:-1px;
//         // background:@select-colour;
//         background-color green 
//         transition all ease 250ms
      
    
  

//   &.focus 
//     .focus-box
//       border-color green 
//     // input  background:rgba(222, 233, 250, 0.9) !important; 
//     div.focus>div  
//       transform scale(1, 1) !important; 
  
//   &.error 
//     div.focus>div  
//       background:red !important;   
  
//   &.focus.error 
//     input  
//       background:rgba(255, 0, 0, 0.125) !important; 
  
